*{
    margin:0%;
    padding:0% ;
    box-sizing: border-box;
}

body
{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+66,9ecb2d+100 */
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 66%, #9ecb2d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 66%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 66%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}
h1{
    font-size: 3rem;
    padding: 0.8rem;
    text-align: center;
    font-family: 'Courgette', cursive;
}
h2{
    font-size: 1.5rem;
    padding: 0.8rem;
    font-family: 'Courgette', cursive;
    border: red 3px solid ;
    width: 130px;
}
p{
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    background-color:aquamarine;
    width: 60vw;
    height: 70vh;
    overflow: auto;
    border-top: solid 5px red ;
    border-bottom: solid 5px blue;
    border-right: solid 5px yellow;
    border-left: solid 5px purple;
    border-radius: 15px;
    margin: 3rem;
}

footer{
    font-family: 'Courgette', cursive;
    margin: 1rem;
    padding: 0.8rem;
    background-color: azure;
}
img{
    display: block;
    margin: 10px;
}
h3{
    display: inline-block;
    margin: 1rem;
    padding: 0.8rem;
}
.noSeVe{display: none;}