*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
main{
    background-color: aliceblue;
    width: 90%;
    height: 400px;
    border: solid black 3px;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: "AD BC BC" "AD E F";
}
.hijo{
    background-color: cornflowerblue ;
    border: blue 2px solid;
}
.AD{
    background-color: coral;
    grid-area: AD;
}
.BC{
    background-color: blueviolet;
    grid-area: BC;
}
.E{
    background-color: cyan;
    grid-area: E;
}
.F{
    background-color: chartreuse;
    grid-area: F;
}