*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
.caja{
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
}
.grad1{
    background: linear-gradient(to top, green, yellow, red);
}
.grad2{
    background: radial-gradient(circle, navy, pink, blueviolet);
}
.grad3{
    background: linear-gradient(to left, red, blue, yellow, green, pink, black);
}

.grad4{
    background: radial-gradient(ellipse, pink, blue, yellow);
    height: 100px;
}
.translate:hover{
    transform: translate(50px,30px);
}
.scale:hover{
    transform: scale(1.1, 1.1);
}
.skew:hover{
    transform: skew(20deg);
}
.rotate:hover{
    transform: rotate(70°);
}