*{
    padding:0%;
    margin:0%;
}
body{
    background-color: paleturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    background-color: #000000;
    padding: 0%;
    list-style: none;
    margin: 20px auto;
    text-align: center;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    padding: 20px;
    margin: 10px;
    color: green;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover{
    color: black;
    background-color: greenyellow;
    border-radius: 50%;
}