body{
    background-color: blueviolet;
    background-image: url(../fondo/pattern1.png);
}
h1{
    color: purple;
}
@media only screen and (min-width: 500px){
    body{
        background-color: yellow;
        background-image: url(../fondo/pattern2.png);
    }
    h1{
        color:navy;
        font-size: 2rem;
    }
}
@media only screen and (min-width: 800px){
    body{
        background-color: rgb(81, 0, 255);
        background-image: url(../fondo/pattern3.png);
    }
    h1{
        color:red;
        font-size: 2rem;
    }
}